
.text {
 
  margin:50px;
}
.text_home {
 
  margin:50px;
}
#map {
  height:500px;
  width:500px;
}
@font-face {
  font-family: signal-heavy;
  src: url(fonts/Signal-Heavy.ttf);
}
#heading {
 
}
/* General Page Rules */

body {
  color: black;
}

a {
  text-decoration: none;
}
.slides {
	display:none;
 
}
p {
	font-size:15px;
}
.head {
  font-size:48px;
}

/* Navigation */
#nav {
  color:white;

}

#navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:black;
}

.navtabs {
  margin: 10px 10px;
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
}

#navtabs {
  font-family: signal-heavy;
}

