.container {}

.text {}

.text_home {}

#map {}

@font-face {
    font-family: signal-heavy;
    src: url(fonts/Signal-Heavy.ttf);
}

#heading {}


/* General Page Rules */

body {
    color: black;
}

a {
    text-decoration: none;
}

.slides {
    display: none;
}

p {
    font-size: 15px;
}

.head {
    font-size: 48px;
}


/* Navigation */

#nav {
    color: white;
}

#navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navtabs {
    background-color: black;
    margin: 10px 10px;
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
}

#navtabs {
    font-family: signal-heavy;
}