
.container {
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:auto;
}
.text {
  grid-row:auto;
  grid-column:1/3;
  margin:50px;
}
.text_home {
  grid-row:auto;
  grid-column:1/5;
  margin:50px;
}
#map {
  grid-row:auto;
  grid-column:3/5;
}

@font-face {
  font-family: signal-heavy;
  src: url(fonts/Signal-Heavy.ttf);
}

#heading {
  grid-column:1/5;
  grid-row:2/4;
}
/* General Page Rules */

body {
  color: black;

}

a {
  text-decoration: none;
}

.slides {
	display:none;
  grid-column:1/5;
  grid-row:2/4;
}
p {
	font-size:15px;
}
.head {
  font-size:48px;
}

/* Navigation */
#nav {
  color:white;


}

#navigation {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navtabs {
  background-color: black;
  margin: 10px 10px;
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
}

#navtabs {
  font-family: signal-heavy;
}

